.App {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "n f f f f f";
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;
}

.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}

.rooms-list ul {
  list-style-type: none;
  padding: 0;
  overflow: scroll;
}

.rooms-list li {
  margin: 10px 0px;
}

.rooms-list h3 {
  margin: 5px 0px;
  color: var(--secondary-color);
}

.rooms-list .room a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
}

.rooms-list .room.active a {
  color: var(--secondary-color);
}
